body{
    background-color:white;
    padding:0;
    margin:0;
}
#face{
    width:400px;
    height:400px;
    background-color:violet;
    position: relative; 
    top: 100px;
    left: 200px;
}

.eye{

    
    position: absolute;
    display:flex;
    gap: 25px;;
    top: 100px;
    left: 50px;
    
}

#eye{
    width: 100px;
    height: 100px;
    background-color:white;
    top:100px;
    left:250px;
    margin:10px;
    padding:10px

}

#pupil{
    background-color:black;
    width:50px;
    height:50px;
}


#mouth{
    background-color:black;
    width:200px;
    height:100px;
    position: absolute;
    top:250px;
    left:100px
}
.teeth{
    /* position:absolute; */
    /* display:flex; */
    gap:10px;
    left:10px;
background-color: white;
    width:20px;
    height:20px;
        display: inline-block;

}

#tooth{
    


}
#tounge{
    background-color:pink;
    width:100px;
    height:20px;
    position:absolute;
    top:80px;
    left:50px;

}
